<fieldset>
  <label>Price</label>
  <input name="price" type="text" value="<%= expense.escape('price') %>" placeholder="0.00" autofocus="true">
  <label>Tags</label>
  <input name="tag_list" type="text" value="<%= expense.escape('tag_list') %>" placeholder="Comma separated values">
  <label>Date</label>
  <input name="date" type="text" value="<%= this.modelInputDate() %>" placeholder="DD/MM/YYYY" class="datepicker">
  <label>Description</label>
  <textarea name="description" rows="2"><%= expense.escape('description') %></textarea>
  <button type="submit" class="btn btn-primary"><%= this.submitText() %></button>
</fieldset>